<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tabela de Ninjas</title>
</head>
<body>

<h1>Lista de Ninjas</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>NOME</th>
            <th>IDADE</th>
            <th>EMAIL</th>
            <th>RANK</th>
        </tr>
    </thead>

    <tbody>
    <tr th:each ="ninja: ${ninjaList}">
        <td th:text = "${ninja.id}"></td>
        <td th:text = "${ninja.name}"></td>
        <td th:text = "${ninja.age}"></td>
        <td th:text = "${ninja.email}"></td>
        <td th:text = "${ninja.rank}"></td>
    </tr>
    </tbody>

</table>

</body>
</html>